/* Home.module.css */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.heroSection {
	display: flex;
	min-height: 100vh;
  }
  
  .leftColumn {
	flex: 1;
	background-image: url('/bg.png'); /* Ścieżka do obrazka tła */
	background-size: cover;
	background-position: center;
	transition: filter 1s ease;
  }

  .leftColumn:hover {
	filter: saturate(0%) contrast(250%);
  }
  
  .rightColumn {
	flex: 1;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
  }
  
  .rightColumn h1  {
	margin: 0;
	font-family: Lato, sans-serif;
	font-style: Bold;
	font-weight: 900;
	font-size: 36px;
  }
  .rightColumn p {
	margin: 20px;
	margin-left: 0;
	font-family: Lato, sans-serif;
	font-style: Regular;
	font-weight: 400;
  }
  
.letterContainer {
  display: inline-block;
  position: relative;
}

.enlarge {
  transform: scale(1.6);
  transition: transform 0.3s ease;
}