@import "~react-image-gallery/styles/css/image-gallery.css";

.header {
  font-size: 3rem;
  margin-left: 5%;
  position: relative;
  display: inline-block;
}

.header::after {
  content: "";
  position: absolute;
  width: 105%;
  height: 0.6em;
  background-color: #f2b807;
  bottom: 0.1em;
  left: 0;
  transform: translateX(12%);
  z-index: -1;
}

/* custom-image-gallery.css */
.image-gallery .image-gallery-icon {
  color: #ff6347 !important; /* Change navigation button color */
}

.image-gallery .image-gallery-bullet {
  background-color: #ffa07a !important; /* Change bullet color */
}

.image-gallery .image-gallery-thumbnail.active,
.image-gallery .image-gallery-thumbnail:hover,
.image-gallery .image-gallery-thumbnail:focus {
  border: 2px solid #ff6347 !important; /* Change active thumbnail border color */
}

.image-gallery .image-gallery-fullscreen-button {
  color: #ff6347 !important; /* Change fullscreen button color */
}

.image-gallery .image-gallery-play-button {
  color: #ff6347 !important; /* Change play button color */
}
