.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.linkedin {
    height: 40px;
}
